*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);

    --vb-yellow: hsl(52, 100%, 62%);

    --pl-white: hsl(0, 0%, 100%);

    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);

    --dk-text: hsl(198, 20%, 13%);
}

body{
    height: 100vh;
    gap: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);
    background: linear-gradient(to right, #060C21, #6A00F4);
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #212121;
}
    

.wrapper{
    width: 90%;
    max-width: 450px;
    
}

h1{
    color: var(--pl-white);
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.display-container{
    position: relative;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
    margin: 1rem 0;
    padding-top: 0.35rem;
    background: #272727;
    
}

.passwordDisplay{
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: #667eea;
    font-weight: 600;
    font-size: 1.5rem;
    line-height:30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border: none;

}

.passwordDisplay::placeholder{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: #667eea;
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.copyButton{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.copiedMsg{
    position: absolute;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #fff;
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.copiedMsg.active{
    opacity: 1;
    transform: scale(1);
}

.input-container{
    background-color: var(--dk-violet);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
    padding: 2rem;
    background: #272727;
    

    
    background: #272727;
    
    

    
}

@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p{
    color: var(--pl-white);
    font-size: 1.5rem;
}

.length-container div{
    color: #667eea;
    font-size: 1.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p{
    color: var(--pl-white);
    font-size: 1.5rem;
}

.strength-container div{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}



.copyButton{
    background-color: transparent;
    border: none;
}

.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
} 

.check input:checked{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.check input:checked::before{
    content: '✔';
    position: absolute;
    color: #fff;
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: -3.5px;
    transform: translateX(-50%) ;
}

.check label{
    color: var(--pl-white);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.slider{
    appearance: none;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    height: 2rem;;
    width: 2rem;
    border-radius: 50%;
    background-color: #667eea;
    
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 100ms ease-in;

    
}


.slider::-webkit-slider-thumb:hover{
    
    background-color: #667eea;
    box-shadow: 0px 0px 25px 5px #667eea;
}

.generatePass {
    
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 8px;
    color: #fff;
    border: none;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}
.generatePass:active {
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
    -webkit-box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}